{% extends 'ludoapp/base.html' %} {% load static %} {% block title %} Privacy Policy{% endblock %} {% block content %}


<div class="row">
    <div class="col-xl-12 col-md-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Terms and Conditions</h6>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-xl-12 col-sm-4 col-md-3 text-left">
                        {% for object in object_list %} {{ object.content|safe }} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}